.DS_Store

# Ignore key files for decrypting credentials and more.
/config/*.key

/coverage/
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
!/tmp/pids/
!/tmp/pids/.keep
!/tmp/storage/
!/tmp/storage/.keep
/storage/*
!/storage/.keep
/public/assets

/.bundle/
/vendor/bundle
/node_modules/

/.env
/.env.*
!/env.example
/.kamal/secrets

/infra/**/.terraform/
/infra/**/*.tfstate
/infra/**/*.tfstate.*
/infra/**/*.tfplan
/infra/**/*.zip
