openapi: 3.1.0
info:
  title: FlowBridge API
  version: 1.0.0
  summary: Reliable webhook automation platform API.
  license:
    name: MIT
    identifier: MIT
servers:
  - url: https://api.flowbridge.dev
security:
  - bearerAuth: []
paths:
  /up:
    get:
      operationId: healthCheck
      security: []
      summary: Liveness check
      responses:
        "200":
          description: Service is alive
        "400":
          $ref: "#/components/responses/Error"
        "500":
          description: Service failed to boot
  /ready:
    get:
      operationId: readinessCheck
      security: []
      summary: Readiness check
      responses:
        "200":
          description: Service dependencies are ready
        "400":
          $ref: "#/components/responses/Error"
        "503":
          description: Dependency failure
  /metrics:
    get:
      operationId: prometheusMetrics
      security: []
      summary: Prometheus metrics
      responses:
        "200":
          description: Prometheus text metrics
        "400":
          $ref: "#/components/responses/Error"
        "500":
          description: Metrics could not be collected
  /api/v1/organizations:
    post:
      operationId: createOrganization
      security: []
      summary: Create an organization and owner API key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrganizationRequest"
      responses:
        "201":
          description: Organization created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateOrganizationResponse"
        "422":
          $ref: "#/components/responses/Error"
  /api/v1/organizations/{id}:
    get:
      operationId: showOrganization
      summary: Show current organization
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Organization
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationResponse"
        "401":
          $ref: "#/components/responses/Error"
        "403":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  /api/v1/workflows:
    get:
      operationId: listWorkflows
      summary: List workflows
      responses:
        "200":
          description: Workflows
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkflowListResponse"
        "401":
          $ref: "#/components/responses/Error"
        "403":
          $ref: "#/components/responses/Error"
    post:
      operationId: createWorkflow
      summary: Create workflow metadata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWorkflowRequest"
      responses:
        "201":
          description: Workflow created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkflowResponse"
        "401":
          $ref: "#/components/responses/Error"
        "403":
          $ref: "#/components/responses/Error"
        "422":
          $ref: "#/components/responses/Error"
  /api/v1/workflows/{id}:
    get:
      operationId: showWorkflow
      summary: Show workflow with versions
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Workflow
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkflowWithVersionsResponse"
        "401":
          $ref: "#/components/responses/Error"
        "403":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  /api/v1/workflows/{workflow_id}/versions:
    get:
      operationId: listWorkflowVersions
      summary: List workflow versions
      parameters:
        - $ref: "#/components/parameters/WorkflowId"
      responses:
        "200":
          description: Workflow versions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkflowVersionListResponse"
        "401":
          $ref: "#/components/responses/Error"
        "403":
          $ref: "#/components/responses/Error"
    post:
      operationId: publishWorkflowVersion
      summary: Publish immutable workflow version
      parameters:
        - $ref: "#/components/parameters/WorkflowId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PublishWorkflowVersionRequest"
      responses:
        "201":
          description: Workflow version published
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublishWorkflowVersionResponse"
        "401":
          $ref: "#/components/responses/Error"
        "403":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
        "422":
          $ref: "#/components/responses/Error"
  /api/v1/workflows/{workflow_id}/versions/{id}:
    get:
      operationId: showWorkflowVersion
      summary: Show immutable workflow version
      parameters:
        - $ref: "#/components/parameters/WorkflowId"
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Workflow version
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkflowVersionResponse"
        "401":
          $ref: "#/components/responses/Error"
        "403":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  /api/v1/webhooks/{trigger_key}:
    post:
      operationId: ingestWebhook
      security: []
      summary: Ingest signed webhook
      parameters:
        - name: trigger_key
          in: path
          required: true
          schema:
            type: string
        - name: X-FlowBridge-Event-Id
          in: header
          required: false
          schema:
            type: string
        - name: X-FlowBridge-Signature
          in: header
          required: true
          schema:
            type: string
        - name: X-Correlation-Id
          in: header
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "202":
          description: Webhook accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookIngestionResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
        "422":
          $ref: "#/components/responses/Error"
  /api/v1/serverless/webhooks/{trigger_key}:
    post:
      operationId: ingestServerlessWebhook
      security: []
      summary: Ingest a normalized serverless webhook envelope
      parameters:
        - name: trigger_key
          in: path
          required: true
          schema:
            type: string
        - name: X-FlowBridge-Serverless-Signature
          in: header
          required: true
          schema:
            type: string
        - name: X-Correlation-Id
          in: header
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ServerlessWebhookEnvelopeRequest"
      responses:
        "202":
          description: Serverless webhook envelope accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerlessWebhookIngestionResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
        "503":
          $ref: "#/components/responses/Error"
  /api/v1/executions:
    get:
      operationId: listExecutions
      summary: List workflow executions
      responses:
        "200":
          description: Executions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkflowExecutionListResponse"
        "401":
          $ref: "#/components/responses/Error"
        "403":
          $ref: "#/components/responses/Error"
  /api/v1/executions/{id}:
    get:
      operationId: showExecution
      summary: Show workflow execution with nodes
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Execution
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkflowExecutionResponse"
        "401":
          $ref: "#/components/responses/Error"
        "403":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  /api/v1/executions/{id}/retry:
    post:
      operationId: retryExecution
      summary: Manually retry failed execution
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "202":
          description: Retry queued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkflowExecutionRetryResponse"
        "401":
          $ref: "#/components/responses/Error"
        "403":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
        "409":
          $ref: "#/components/responses/Error"
  /api/v1/dead_letters:
    get:
      operationId: listDeadLetters
      summary: List dead letters
      responses:
        "200":
          description: Dead letters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeadLetterListResponse"
        "401":
          $ref: "#/components/responses/Error"
        "403":
          $ref: "#/components/responses/Error"
  /api/v1/dead_letters/{id}:
    get:
      operationId: showDeadLetter
      summary: Show dead letter
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Dead letter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeadLetterResponse"
        "401":
          $ref: "#/components/responses/Error"
        "403":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  /api/v1/dead_letters/{id}/retry:
    post:
      operationId: retryDeadLetter
      summary: Retry dead-lettered execution
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "202":
          description: Retry queued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeadLetterRetryResponse"
        "401":
          $ref: "#/components/responses/Error"
        "403":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  /api/v1/dead_letters/{id}/resolve:
    post:
      operationId: resolveDeadLetter
      summary: Resolve dead letter
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Dead letter resolved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeadLetterResponse"
        "401":
          $ref: "#/components/responses/Error"
        "403":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  /api/v1/credentials:
    get:
      operationId: listCredentials
      summary: List credential metadata
      responses:
        "200":
          description: Credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CredentialListResponse"
        "401":
          $ref: "#/components/responses/Error"
        "403":
          $ref: "#/components/responses/Error"
    post:
      operationId: createCredential
      summary: Create encrypted credential
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCredentialRequest"
      responses:
        "201":
          description: Credential created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CredentialResponse"
        "401":
          $ref: "#/components/responses/Error"
        "403":
          $ref: "#/components/responses/Error"
        "422":
          $ref: "#/components/responses/Error"
  /api/v1/credentials/{id}:
    get:
      operationId: showCredential
      summary: Show credential metadata
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Credential
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CredentialResponse"
        "401":
          $ref: "#/components/responses/Error"
        "403":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: FlowBridge API key
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: integer
    WorkflowId:
      name: workflow_id
      in: path
      required: true
      schema:
        type: integer
  responses:
    Error:
      description: Standard error response
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
  schemas:
    CreateOrganizationRequest:
      type: object
      required:
        - organization
      properties:
        organization:
          type: object
          required:
            - name
          properties:
            name:
              type: string
            slug:
              type: string
    CreateOrganizationResponse:
      type: object
      required:
        - organization
        - api_key
      additionalProperties: false
      properties:
        organization:
          $ref: "#/components/schemas/Organization"
        api_key:
          $ref: "#/components/schemas/ApiKeyWithToken"
    CreateWorkflowRequest:
      type: object
      required:
        - workflow
      properties:
        workflow:
          type: object
          required:
            - name
          properties:
            name:
              type: string
            slug:
              type: string
            description:
              type: string
    PublishWorkflowVersionRequest:
      type: object
      required:
        - workflow_version
      properties:
        workflow_version:
          type: object
          required:
            - graph
          properties:
            retry_policy:
              type: object
              properties:
                max_attempts:
                  type: integer
                base_delay_seconds:
                  type: integer
                jitter_seconds:
                  type: integer
            graph:
              type: object
              required:
                - nodes
              properties:
                nodes:
                  type: array
                  items:
                    $ref: "#/components/schemas/WorkflowNode"
    CreateCredentialRequest:
      type: object
      required:
        - credential
      properties:
        credential:
          type: object
          required:
            - name
            - kind
            - secret
          properties:
            name:
              type: string
            kind:
              type: string
              enum: [api_key, bearer_token, basic_auth, webhook_secret]
            secret:
              type: string
            metadata_json:
              type: object
              additionalProperties: true
    Organization:
      type: object
      required:
        - id
        - name
        - slug
        - plan
        - rate_limit_per_minute
        - created_at
      additionalProperties: false
      properties:
        id:
          type: integer
        name:
          type: string
        slug:
          type: string
        plan:
          type: string
          enum: [launch, scale, enterprise]
        rate_limit_per_minute:
          type: integer
        created_at:
          type: string
          format: date-time
    OrganizationResponse:
      type: object
      required:
        - organization
      additionalProperties: false
      properties:
        organization:
          $ref: "#/components/schemas/Organization"
    ApiKeyWithToken:
      type: object
      required:
        - id
        - name
        - role
        - token_hint
        - last_used_at
        - revoked_at
        - created_at
        - token
      additionalProperties: false
      properties:
        id:
          type: integer
        name:
          type: string
        role:
          type: string
          enum: [owner, operator, viewer]
        token_hint:
          type: string
        last_used_at:
          type: [string, "null"]
          format: date-time
        revoked_at:
          type: [string, "null"]
          format: date-time
        created_at:
          type: string
          format: date-time
        token:
          type: string
    WorkflowResponse:
      type: object
      required:
        - workflow
      additionalProperties: false
      properties:
        workflow:
          $ref: "#/components/schemas/Workflow"
    WorkflowWithVersionsResponse:
      type: object
      required:
        - workflow
      additionalProperties: false
      properties:
        workflow:
          $ref: "#/components/schemas/WorkflowWithVersions"
    WorkflowListResponse:
      type: object
      required:
        - workflows
      additionalProperties: false
      properties:
        workflows:
          type: array
          items:
            $ref: "#/components/schemas/Workflow"
    Workflow:
      type: object
      required:
        - id
        - organization_id
        - name
        - slug
        - status
        - description
        - created_at
        - updated_at
      additionalProperties: false
      properties:
        id:
          type: integer
        organization_id:
          type: integer
        name:
          type: string
        slug:
          type: string
        status:
          type: string
          enum: [draft, active, archived]
        description:
          type: [string, "null"]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    WorkflowWithVersions:
      type: object
      required:
        - id
        - organization_id
        - name
        - slug
        - status
        - description
        - created_at
        - updated_at
        - versions
      additionalProperties: false
      properties:
        id:
          type: integer
        organization_id:
          type: integer
        name:
          type: string
        slug:
          type: string
        status:
          type: string
          enum: [draft, active, archived]
        description:
          type: [string, "null"]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        versions:
          type: array
          items:
            $ref: "#/components/schemas/WorkflowVersion"
    WorkflowVersionListResponse:
      type: object
      required:
        - workflow_versions
      additionalProperties: false
      properties:
        workflow_versions:
          type: array
          items:
            $ref: "#/components/schemas/WorkflowVersion"
    WorkflowVersionResponse:
      type: object
      required:
        - workflow_version
      additionalProperties: false
      properties:
        workflow_version:
          $ref: "#/components/schemas/WorkflowVersionWithGraph"
    PublishWorkflowVersionResponse:
      type: object
      required:
        - workflow_version
        - webhook_secret
      additionalProperties: false
      properties:
        workflow_version:
          $ref: "#/components/schemas/WorkflowVersionWithGraph"
        webhook_secret:
          type: string
    WorkflowVersion:
      type: object
      required:
        - id
        - workflow_id
        - version_number
        - trigger_key
        - graph_checksum
        - retry_policy
        - published_at
        - created_at
      additionalProperties: false
      properties:
        id:
          type: integer
        workflow_id:
          type: integer
        version_number:
          type: integer
        trigger_key:
          type: string
        graph_checksum:
          type: string
        retry_policy:
          $ref: "#/components/schemas/RetryPolicy"
        published_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
    WorkflowVersionWithGraph:
      type: object
      required:
        - id
        - workflow_id
        - version_number
        - trigger_key
        - graph_checksum
        - retry_policy
        - published_at
        - created_at
        - graph
      additionalProperties: false
      properties:
        id:
          type: integer
        workflow_id:
          type: integer
        version_number:
          type: integer
        trigger_key:
          type: string
        graph_checksum:
          type: string
        retry_policy:
          $ref: "#/components/schemas/RetryPolicy"
        published_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        graph:
          $ref: "#/components/schemas/WorkflowGraph"
    RetryPolicy:
      type: object
      required:
        - max_attempts
        - base_delay_seconds
        - jitter_seconds
      additionalProperties: false
      properties:
        max_attempts:
          type: integer
        base_delay_seconds:
          type: integer
        jitter_seconds:
          type: integer
    WebhookIngestionResponse:
      type: object
      required:
        - webhook_event
        - workflow_execution
        - duplicate
      additionalProperties: false
      properties:
        webhook_event:
          $ref: "#/components/schemas/WebhookEvent"
        workflow_execution:
          type:
            - object
            - "null"
          properties:
            id:
              type: integer
            workflow_id:
              type: integer
            workflow_version_id:
              type: integer
            webhook_event_id:
              type: [integer, "null"]
            status:
              type: string
              enum: [queued, running, retrying, succeeded, failed, canceled]
            attempt_count:
              type: integer
            idempotency_key:
              type: string
            correlation_id:
              type: string
            error:
              type: [object, "null"]
              additionalProperties: true
            started_at:
              type: [string, "null"]
              format: date-time
            completed_at:
              type: [string, "null"]
              format: date-time
            duration_ms:
              type: [integer, "null"]
            created_at:
              type: string
              format: date-time
          required:
            - id
            - workflow_id
            - workflow_version_id
            - webhook_event_id
            - status
            - attempt_count
            - idempotency_key
            - correlation_id
            - error
            - started_at
            - completed_at
            - duration_ms
            - created_at
          additionalProperties: false
        duplicate:
          type: boolean
    WebhookEvent:
      type: object
      required:
        - id
        - workflow_version_id
        - idempotency_key
        - source_event_id
        - status
        - correlation_id
        - received_at
        - execution_id
      additionalProperties: false
      properties:
        id:
          type: integer
        workflow_version_id:
          type: integer
        idempotency_key:
          type: string
        source_event_id:
          type: [string, "null"]
        status:
          type: string
          enum: [accepted, duplicate, rejected]
        correlation_id:
          type: string
        received_at:
          type: string
          format: date-time
        execution_id:
          type: [integer, "null"]
    ServerlessWebhookEnvelopeRequest:
      type: object
      required:
        - schema_version
        - source
        - external_event_id
        - received_at
        - raw_body_sha256
        - headers
        - payload
      additionalProperties: false
      properties:
        schema_version:
          type: integer
          enum: [1]
        source:
          type: string
          description: Provider or edge source, for example stripe, github, or custom.crm.
        external_event_id:
          type: string
          description: Source event identifier after provider-specific normalization.
        received_at:
          type: string
          format: date-time
        raw_body_sha256:
          type: string
          description: SHA-256 digest of the provider raw body before normalization.
        correlation_id:
          type: [string, "null"]
        headers:
          type: object
          additionalProperties:
            type: string
        payload:
          type: object
          additionalProperties: true
    ServerlessWebhookIngestionResponse:
      type: object
      required:
        - serverless_ingestion
        - webhook_event
        - workflow_execution
        - duplicate
      additionalProperties: false
      properties:
        serverless_ingestion:
          $ref: "#/components/schemas/ServerlessIngestion"
        webhook_event:
          $ref: "#/components/schemas/WebhookEvent"
        workflow_execution:
          $ref: "#/components/schemas/WorkflowExecution"
        duplicate:
          type: boolean
    ServerlessIngestion:
      type: object
      required:
        - source
        - external_event_id
        - idempotency_key
        - correlation_id
      additionalProperties: false
      properties:
        source:
          type: string
        external_event_id:
          type: string
        idempotency_key:
          type: string
        correlation_id:
          type: string
    WorkflowExecutionListResponse:
      type: object
      required:
        - workflow_executions
      additionalProperties: false
      properties:
        workflow_executions:
          type: array
          items:
            $ref: "#/components/schemas/WorkflowExecution"
    WorkflowExecutionResponse:
      type: object
      required:
        - workflow_execution
      additionalProperties: false
      properties:
        workflow_execution:
          $ref: "#/components/schemas/WorkflowExecutionWithNodes"
    WorkflowExecutionRetryResponse:
      type: object
      required:
        - workflow_execution
      additionalProperties: false
      properties:
        workflow_execution:
          $ref: "#/components/schemas/WorkflowExecution"
    WorkflowExecution:
      type: object
      required:
        - id
        - workflow_id
        - workflow_version_id
        - webhook_event_id
        - status
        - attempt_count
        - idempotency_key
        - correlation_id
        - error
        - started_at
        - completed_at
        - duration_ms
        - created_at
      additionalProperties: false
      properties:
        id:
          type: integer
        workflow_id:
          type: integer
        workflow_version_id:
          type: integer
        webhook_event_id:
          type: [integer, "null"]
        status:
          type: string
          enum: [queued, running, retrying, succeeded, failed, canceled]
        attempt_count:
          type: integer
        idempotency_key:
          type: string
        correlation_id:
          type: string
        error:
          type: [object, "null"]
          additionalProperties: true
        started_at:
          type: [string, "null"]
          format: date-time
        completed_at:
          type: [string, "null"]
          format: date-time
        duration_ms:
          type: [integer, "null"]
        created_at:
          type: string
          format: date-time
    WorkflowExecutionWithNodes:
      type: object
      required:
        - id
        - workflow_id
        - workflow_version_id
        - webhook_event_id
        - status
        - attempt_count
        - idempotency_key
        - correlation_id
        - error
        - started_at
        - completed_at
        - duration_ms
        - created_at
        - nodes
      additionalProperties: false
      properties:
        id:
          type: integer
        workflow_id:
          type: integer
        workflow_version_id:
          type: integer
        webhook_event_id:
          type: [integer, "null"]
        status:
          type: string
          enum: [queued, running, retrying, succeeded, failed, canceled]
        attempt_count:
          type: integer
        idempotency_key:
          type: string
        correlation_id:
          type: string
        error:
          type: [object, "null"]
          additionalProperties: true
        started_at:
          type: [string, "null"]
          format: date-time
        completed_at:
          type: [string, "null"]
          format: date-time
        duration_ms:
          type: [integer, "null"]
        created_at:
          type: string
          format: date-time
        nodes:
          type: array
          items:
            $ref: "#/components/schemas/NodeExecution"
    NodeExecution:
      type: object
      required:
        - id
        - node_key
        - node_type
        - status
        - attempt
        - input
        - output
        - error
        - duration_ms
        - started_at
        - completed_at
      additionalProperties: false
      properties:
        id:
          type: integer
        node_key:
          type: string
        node_type:
          type: string
        status:
          type: string
          enum: [running, succeeded, failed, skipped]
        attempt:
          type: integer
        input:
          type: object
          additionalProperties: true
        output:
          type: [object, "null"]
          additionalProperties: true
        error:
          type: [object, "null"]
          additionalProperties: true
        duration_ms:
          type: [integer, "null"]
        started_at:
          type: string
          format: date-time
        completed_at:
          type: [string, "null"]
          format: date-time
    DeadLetterListResponse:
      type: object
      required:
        - dead_letters
      additionalProperties: false
      properties:
        dead_letters:
          type: array
          items:
            $ref: "#/components/schemas/DeadLetter"
    DeadLetterResponse:
      type: object
      required:
        - dead_letter
      additionalProperties: false
      properties:
        dead_letter:
          $ref: "#/components/schemas/DeadLetter"
    DeadLetterRetryResponse:
      type: object
      required:
        - dead_letter
        - workflow_execution
      additionalProperties: false
      properties:
        dead_letter:
          $ref: "#/components/schemas/DeadLetter"
        workflow_execution:
          $ref: "#/components/schemas/WorkflowExecution"
    DeadLetter:
      type: object
      required:
        - id
        - workflow_execution_id
        - node_execution_id
        - status
        - reason
        - retry_count
        - payload
        - resolved_at
        - created_at
      additionalProperties: false
      properties:
        id:
          type: integer
        workflow_execution_id:
          type: integer
        node_execution_id:
          type: [integer, "null"]
        status:
          type: string
          enum: [open, retried, resolved]
        reason:
          type: string
        retry_count:
          type: integer
        payload:
          type: object
          additionalProperties: true
        resolved_at:
          type: [string, "null"]
          format: date-time
        created_at:
          type: string
          format: date-time
    CredentialListResponse:
      type: object
      required:
        - credentials
      additionalProperties: false
      properties:
        credentials:
          type: array
          items:
            $ref: "#/components/schemas/Credential"
    CredentialResponse:
      type: object
      required:
        - credential
      additionalProperties: false
      properties:
        credential:
          $ref: "#/components/schemas/Credential"
    Credential:
      type: object
      required:
        - id
        - name
        - kind
        - masked_secret
        - metadata
        - last_used_at
        - created_at
      additionalProperties: false
      properties:
        id:
          type: integer
        name:
          type: string
        kind:
          type: string
          enum: [api_key, bearer_token, basic_auth, webhook_secret]
        masked_secret:
          type: string
        metadata:
          type: object
          additionalProperties: true
        last_used_at:
          type: [string, "null"]
          format: date-time
        created_at:
          type: string
          format: date-time
    WorkflowNode:
      type: object
      required:
        - key
        - type
      additionalProperties: false
      properties:
        key:
          type: string
        type:
          type: string
          enum: [webhook_trigger, transform, filter, http_request, emit_event]
        config:
          type: object
          additionalProperties: true
    WorkflowGraph:
      type: object
      required:
        - nodes
      properties:
        nodes:
          type: array
          items:
            $ref: "#/components/schemas/WorkflowNode"
      additionalProperties: true
    ErrorResponse:
      type: object
      required:
        - error
      additionalProperties: false
      properties:
        error:
          type: object
          required:
            - code
            - message
            - details
            - request_id
            - correlation_id
          additionalProperties: false
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
              additionalProperties: true
            request_id:
              type: string
            correlation_id:
              type: string
